---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spicy Stuff</title>
</head>
<body>
  
<center>
<table>
<tr>
<td width="600px">

 <p>
 <img src="images/sriracha.jpg">
 </p>
 
<h2>Hipster Daze Sriracha</h2>

 <p>
   My best experience I’ve had with sriracha was when I mixed it with a pho. The sriracha packed some potent heat but not so much that the soup became bitter. It was a perfectly delicious sweet and spicy soup. Although there are some dishes that definitely do not go with sriracha, it has great potential.
What sets the iconic Rooster Sauce apart from most hot sauces is the high amount of sugar. When it comes to classic hot sauces, this is one of the sweetest ones there is. Most are savory sauces that go well on savory dishes. Something more like tapatio will always add a nice kick to scrambled eggs. But some people would find that sriracha clashes with that particular dish, while others would enjoy it. 
 </p>

 <p>
   Generally, Sriracha only goes well with foods that do not taste bad when they’re sweetened. Some dishes that always get me fiending for Sriracha are banh mis and orange chicken. In dishes like these, the exotic taste of the chili sauce makes the dish even more flavorful. To me, its best for Asian takeout, but there are some that indulge it on pretty much anything. Personally, I would prefer something simpler like Franks for pizza but thats just me
   </p>

 <p>
The most important thing to understand about using sriracha is that its a niche hot sauce. Its from thailand, its full of sugar, and it tastes very different from standard american hot sauces. However, it is not necessarily much spicier than most of them and is accessible to pretty much anyone. This goes really nicely with certain types of food, but use it carefully..
</p>

</td>
</tr>
</table>
</center>
</body>
</html>
</doctype>
